@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body {
    overflow-x: hidden;
    font-family: lato, sans-serif;
    color: blue
}

.navbar {
    text-transform: uppercase;
    font-weight: 1000px;
    font-size: 14px;
    letter-spacing: 10px;
    background: rgba(0, 0, 0, 0.8)
}

.navbar-brand img {
  height: 80px;
}

.navbar-nav li {
    padding-right: 10px;
}
.navbar-light .navbar-nav .nav-link {
    color: red;
    padding-top: 2px;
}

.navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .nav-link:hover {
    color: green;
}

.home-inner {
background: url("../images/rosie.jpg"); 
}

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: white;
    text-transform: uppercase;
}